@model veriPlusProjects.Extensions.OmdbModel

<div class="bg-dark text-white pb-3">
    <div class="container bg-dark">
        <div class="justify-content-center align-content-center d-flex">
            <section id="movieElements">

                @if (Model.Title == null)
                {
                    <div class="d-flex justify-content-center align-content-center">
                        <label><strong>Nothing was found as a result search from OMDB.</strong></label>
                    </div>
                }
                else
                {
                    <div class="row col-12">
                        <div class="col-12">
                            <span><strong style="font-size:xx-large">@Model.Title</strong></span>
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="col-12">
                            @if (Model.Year != null)
                            {
                                <span>@Model.Year</span>
                            }
                            @if (@Model.Rated != null)
                            {
                                <span>- @Model.Rated</span>
                            }
                            @if (Model.Runtime != null)
                            {
                                <span>- @Model.Runtime</span>
                            }

                        </div>

                    </div>
                    <div class="row col-12">
                        <div class="col-4">
                            <img src="@Model.Poster" />
                        </div>
                        <div class="col-8">
                            <div class="col-12">
                                IMDB RATING: <strong><span style="font-size:x-large">@Model.imdbRating</span></strong>
                            </div>
                            <div class="col-12">
                                <strong>@Model.Genre</strong>
                            </div>
                            <div class="pt-3">
                                <div class="col-12">
                                    <strong>Language:</strong> @Model.Language
                                </div>
                                <div class="col-12">
                                    <strong>Country:</strong> @Model.Country
                                </div>
                            </div>

                            <div class="pt-3">
                                <div class="col-12">
                                    <strong>Director:</strong> @Model.Director
                                </div>
                                <div class="col-12">
                                    <strong>Writer:</strong> @Model.Writer
                                </div>
                                <div class="col-12">
                                    <strong>Stars:</strong> @Model.Actors
                                </div>
                            </div>

                            <div class="pt-3">
                                <div class="col-12">
                                    @Model.Plot
                                </div>
                            </div>

                            <div class="row align-items-end">
                                <div class="col">

                                </div>
                            </div>
                        </div>

                        <div class="row col-12">
                            <div class="col-auto mr-auto">
                                Awards: @Model.Awards
                            </div>
                            <div class="col-auto">
                                <span style="right:0">
                                    Metascore: <strong>@Model.Metascore</strong>
                                </span>
                            </div>
                        </div>

                    </div>

                }


            </section>
        </div>
    </div>
</div>

<script>

    window.onload = (event) => {
        $("#searchdata").empty();

        var searchList = @Html.Raw(Json.Serialize(Model.StringList));
        console.log("Data: '/n'" + searchList);

        var options = '';
        for (var i =@Html.Raw(Json.Serialize(Model.CountingSeach - 1)); i >= 0; i--) {
            options += '<option value="' + searchList[i] + '" />';
        }
        document.getElementById('searchdata').innerHTML = options;
    };
    @*
    window.onload = (event) => {
        console.log("arama işlemi enter = ", '@Model.Title');

        $.ajax({
            url: '/Home/MovieSearching',
            type: 'POST',
            dataSrc: "",
            data: {
                search: '@Model.Title'
            },
            success: function (data) {
                console.log("Geri dönen veri: ", data);


                $("#movieElements").empty();

                $("#movieElements").append(data);
                console.log(data);
                document.getElementById("search").value = '@Model.Title';

            },

        });



    };*@

    @*
    $("#search").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
            var searchVal = $("#search").val();
            console.log("arama işlemi enter = ", searchVal);

            $.ajax({
                url: 'search',
                type: 'GET',
                dataSrc: "",
                data: {
                    search: searchVal
                },
                success: function (data) {
                    console.log("Geri dönen veri: ", data);


                    $("#movieElements").empty();

                    $("#movieElements").append(data);

                },

            });


        }
    });*@
</script>